.avatar__income {
    background-color: rgb(7, 134, 7) !important;
}

.avatar__expenses {
    background-color: rgb(226, 19, 19) !important;
}

.list {
    max-height: 260px;
    overflow: auto;
    background-color: white;
    padding: 30px !important;
    margin:  30px !important;
}

.list__noTransaction {
    padding: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.15em;
}

.list::-webkit-scrollbar {
    display: none;
}
